/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eczar&display=swap');

html, body{
    background-color: #F8F9FB;
    font-family: 'Montserrat', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    margin-top: 2rem;
    max-width: 100%;
}

*, *:before, *:after{
    box-sizing: border-box;
}

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.col{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}


.col2 {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 2;
}

/* HEADER */
#header{
    background-color: white;
    position: fixed;
    width: 100%;
    top: 0;
    -moz-box-shadow:    0 0 5px 3px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 0 5px 3px rgba(0,0,0,0.3);
    box-shadow:         0 0 5px 3px rgba(0,0,0,0.3);
    z-index: 2;
    overflow: hidden;
}



/* NAVBAR */
.navbar-content .icon{
    color: black;
    display: none;
    padding: 0.5rem 0.7rem;
}

.navbar .navbar-content .navbar-item a{
    color: black;

    display: block;
    float: left;
    text-align: center;

    font-family: 'Montserrat';
    font-size: 0.9rem;
    padding: 0.5rem 0.7rem;
    text-decoration: none;
}

.navbar .navbar-content .navbar-item{
    list-style-type: none;
}

.navbar .navbar-content{
    /* box-sizing: border-box;
    display: flex; */
    margin: 0.3rem 1rem 0.5rem 0.5rem;
    padding: 0;
    padding-top: 0.5rem;
    overflow: hidden;
}

.navbar .navbar-content .navbar-item a:hover{
    color: #24455C;
    font-weight: bold;
}

.navbar .navbar-content .navbar-item .active-navbar{
    color: #24455C;
    font-weight: bold;
}

/* CONTAINER */
.container{
    flex: 1 0 auto;
    overflow: hidden;
}

/* index.html */
.container .row .col .my-photo img{
    margin: 5rem auto;
    width: 170px;
    border-radius: 100%;
}

.container .row .col .my-photo{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.container .row .col2 .introduction{
    padding: 4rem;
    font-family: 'Eczar';
    text-align: justify;
}

.introduction h1{
    font-size: 2.5rem;
    margin-bottom: 0;
}

.introduction h2, .introduction p{
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

/* aboutme.html */
.container .row .col2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .row .col2 .my-info{
    display: block;
    margin: 3rem 3rem;
}

hr{
    border-top: 3px solid #24455C;
    width: 50%;
    margin: 3rem auto;
}

/* Info pribadi */

.my-info table tr th{
    font-weight: 500;
    text-align: left;
    padding: 0.5rem 1rem;
}

.my-info table tr .table-info{
    color: #023373;
    font-weight: 900;
    text-transform: uppercase;
    vertical-align: text-top;
}

table a{
    color: black;
    text-decoration: none;
}

.my-photo2 img{
    display: block;
    margin: 0 auto;
    width: 100%;
}

/* Bahasa */
.container-title{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 2rem 2rem 2rem;
    font-weight: 900;
    font-size: 2rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    justify-content: center;
    width: 100%;
}

.languages{
    background-color: rgb(139, 164, 187);
    color: white;
    padding: 2rem;
    text-align: center;
}

.icon-title{
    font-weight: 900;
    margin-top: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.icon-status, .softwares-status, .certificate-status{
    font-size: 0.9rem;
    font-weight: 500;
}

.icon-logo{
    display: block;
    width: 100px;
    margin: auto;
}

/* Software */

.softwares-status{
    margin-top: 1rem;
    color: rgb(184, 181, 181);
}

.small{
    font-size: 0.8rem;
    text-transform: lowercase;
}

/* TIMELINE */
.timeline {
    position: relative;
    /* max-width: 1200px; */
    margin: 0 auto;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 3px;
    background-color: rgb(30, 64, 88);
    top: 95px;
    left: 50%;
    height: 62%;
}

.ach-timeline::after{
    top: 85px;
    height: 81.5%;
}

.in-time{
    padding: 2rem;
    position: relative;
    width: 50%;
}

.in-time::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -15px;
    background-color: #557A95;
    top: 75px;
    border-radius: 50%;
    border: 3px solid rgb(30, 64, 88);
    z-index: 1;
}

.left{
    left: 0;
    text-align: right;
}

.right{
    left: 50%;
}

.right::after {
    left: -10px;
}

/* Edu */
.education, .achievement{
    background-color: rgb(139, 164, 187);
    color: white;
    padding: 2rem;
}



/* Experience */
.experiences, .softwares, .certificate{
    padding: 2rem;
    text-align: center;
}

.exp-row, .softwares-row, .certificate-row{
    margin-bottom: 2rem;
}

.icon-status p, .softwares-status p{
    margin: 0;
}


/* Certificate */
#certif-logo{
    cursor: pointer;
    transition: 0.3s;
}

#certif-logo:hover{
    filter: brightness(50%);
}

.modal {
    display: none;
    position: fixed;
    z-index: 3;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 680px;
    animation-name: zoom;
    animation-duration: 0.6s;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover, .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@keyframes zoom {
    from {
      transform: scale(0)
    }
    to {
      transform: scale(1)
    }
}


/* resume.html */

.resume{
    width: 100%;
}

.container .my-cv{
    width: 100%;
    padding: 5rem 10rem;
}

button{
    padding: 1rem 3rem;
    display: block;
    margin: auto;
    margin-bottom: 4rem;
    background-color: rgb(195, 215, 231);
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

button a{
    color: black;
    text-decoration: none;
    font-family:  'Montserrat';
    font-weight: 900;
    font-size: 1.2rem;
}

button:hover{
    background-color: rgb(161, 188, 211);
    box-shadow: gray;
}

/* portfolio.html */
.portfolio{
    padding: 2rem;
    text-align: center;
}

.port-cont-title{
    margin-top: 3rem;
}

.port-img{
    display: block;
    width: 80%;
    margin: auto;
    border-radius: 10px;
}

.port-img:hover{
    cursor: pointer;
    box-shadow: 5px 5px 5px grey;
    filter: brightness(90%);
}

.port-status a{
    text-decoration: none;
    color: inherit;
}

.port-status a:hover{
    color: #557A95;
}

.portfolio-part2{
    background-color: #1F282C;
    color: white;
    width: 90%;
    margin: 3rem auto;
    padding: 2rem;
    border-radius: 10px;
    text-align: justify;
}

.portfolio-part2 p{
    margin: 0.5rem;
}

.portfolio-part2 ul li{
    padding: 0 auto;
    margin: 1rem 0;
}

.portfolio-part2 ul li{
    padding-right: 0.5rem;
}

/* contact.html */
.contact-text{
    height: 100%;
    padding: 2rem 2rem 0 2rem;
}

.contact-text h1{
    font-size: 3rem;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    padding: 2rem;
}

.sosmed-contact{
    margin: 3rem 0;
}

.sosmed-contact .sosmed-item{
    list-style-type: none;
    padding: 1rem;
}

.sosmed-item a{
    text-decoration: none;
    color: black;
}

.sosmed-item a:hover{
    color: #24455C;
}

.sosmed-item .fab, .sosmed-item .far{
    font-size: 1.3rem;
    margin-right: 1rem;
}

/* FOOTER */
#footer{
    background-color: #24455C;
    color: white;
    flex-shrink: 0;
    font-size: 0.8rem;
    padding: 2rem 0 2rem 0;
    width: 100%;
    text-align: center;
}

#footer a{
    color: white;
    text-decoration: none;
}

#footer a:hover{
    color: black;
}

#footer .name{
    font-size: 2rem;
    font-family: "Dancing Script";
}

#footer .sosmed a{
    font-size: 1rem;
    padding-right: 0.5rem;
}

.footer-item{
    margin: 0 0 1rem 0;
}

.bold{
    color: #C3EAF1;
    font-weight: bold;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
}

.go-up{
    align-items: center;
    background: rgb(70, 69, 69);
    border-radius: 50%;
    bottom: 3rem;
    display: flex;
    font-size: 2rem;
    height: 50px;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    right: 2rem;
    text-decoration: none;
    transition: all 0.4s;
    width: 50px;
    z-index: 1;
}

.go-up i{
    color: white;
}

.go-up.active{
    bottom: 3rem;
    pointer-events: auto;
    opacity: 0.5;
    z-index: 1;
}

.go-up:hover{
    opacity: 1;
}

/* Responsive */

@media screen and (max-width: 910px) {
    .my-photo2{
        display: block;
        margin: auto;
    }
}

@media screen and (max-width: 680px) {
    .container .my-cv{
        width: 100%;
        padding: 3rem;
    }

    .navbar-content .navbar-item:not(:first-child){
        display: none;
    }

    .navbar-content a.icon{
        float: right;
        display: block;
    }

    .navbar-content.responsive{
        position: relative;
    }

    .navbar-content.responsive .icon{
        position: absolute;
        right: 0;
        top: 0.5rem;
    }

    .navbar-content.responsive .navbar-item,.navbar-content.responsive .navbar-item a, .navbar-content.responsive .icon{
        float: none;
        display: block;
        text-align: left;
    }

    .navbar .navbar-content .navbar-item .active-navbar{
        border-style: none;
    }

    .my-photo2{
        display: none;
    }

    .container .row{
        margin-bottom: 0;
    }

    .container .row .col2{
        margin-left: 2rem;
    }

    .container .row .col2 .my-info{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }

    .modal-content {
        width: 100%;
    }

    .col2, .col{
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        margin-bottom: 1rem;
    }

    .container .row .col .my-photo img{
        width: 130px;
        margin-bottom: 0;
    }
    
    .container .row .col2 .introduction{
        padding-top: 1rem;
        text-align: justify;
    }

    .sosmed-contact{
        margin: 0 0 3rem 0;
    }
}


@media screen and (max-width: 470px) {
    .container .row .col2{
        margin-left: 0;
        width: 100%;
    }

    .container-title{
        margin: 0;
    }

    .col{
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
    }

    .col img{
        margin-top: 1rem;
    }
    
    .experiences{
        width: 100%;
        max-width: 100%;
    }
}